/*
SASS Variables
*/

$form-background: gray;

/*-------end variables-------------------*/
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    border-bottom: 1px dotted gray;
    padding: 1.5em 0;
}

* {
    box-sizing: border-box;
}

.dashboard-chart {
    width: 20em;
}

.dashboard-space {
    margin-top: 5em;
}

.page-alert {
    border-bottom: 1px dotted gray;
    height: 40px;
    margin-top: 3em;
}

.phone-disabled, .hidden {
    display: none;
}

.drop-form {
    background-color: $form-background;
    padding: 2em;
    border-radius: .5em;
}

.grav-input {
    height: 2em;
    font-size: 1.5em;
}

.product {
    border-bottom: 1px dotted  gray;
    width: 100%;
    padding: 1.5em 1em;
}

.grid {
    display: inline-block;
    width:  50%;
}

.list {
    display: inline-block;
}

.list-image {
    /*width: 30%;*/
    height: 75px;
    vertical-align: top;
}

.list-image img {
    width: 150px;
}

.list-image .image {
    height: 50px;
}

.list-text {
    /*width: 65%;*/
}

.scorecard {
    background-color: gray;
    margin-bottom: 1em;
}

.scorecard h1 {
    font-size: 3em;
    color: white;
}

.spec-grid {

}

.summary-category h2 {
    border-bottom: 1px solid gray;
    padding-bottom: .5em;
}

.list-item {
    border-bottom: 1px dotted gray;
    padding: 1em 0;
}

.outlier {
    border-bottom: 1px dashed gray;
    padding: 3em 1.8em;
}

.navbar {
    margin-bottom: 0;
}

.list-item-sub {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/* store details page */
#detail-icon img {
    width: 150px;
}

.detail-title {
    font-weight: lighter;
}

.spec-category {
    font-size: 1.5em;
}

.specs {
    margin-bottom: 2em;
}

/*summary page*/
.simple-list {
    border-bottom: 1px dotted gray;
    padding: 2em;
}

.simple-list img {
    width: 150px;
}

.summary-category {
    margin-bottom: 5em;
}



/*devices larger than smart phones*/
@media screen and (min-width: 480px) {
    .phone-disabled {
        display: block;
    }

    .compare {
    display: inline-block;
    }

    img.compare-item {
        width:100px;
        background-color: gray;
    }

    .detail-compare-logo {
        width: 200px;
    }
}














































































