
    <div class="row">
        <div class="col-md-4" ng-repeat="item in compare">
            <div class="row">
                <div class="col-sm-12">
                    <div><img ng-src="{{ item.thumbnail }}"></div>
                    <div class="text-center"><h3>{{ item.name }}</h3></div>
                    <div class="text-center list-item-sub">$500 per month<br>$50 one time fee</div>
                    <div>{{ item.description }}</div>
                </div>
            </div>
            
            <div class="row summary-category" ng-repeat="category in item.categories">
                <div class="col-sm-12">
                    <div class="col-sm-12"><h2>{{ category.name }}</h2></div>
                    <div class="col-xs-12 list-item" ng-repeat="spec in category.options">
                        <div class="col-xs-6">{{ spec.name }}</div>
                        <div class="col-xs-6">{{ spec.value }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>