<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">cloudMatrix One {{}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            <li ng-class="{true: 'active', false: 'inactive'}[menuStore]"><a href="/cmo">Store<span class="sr-only">(current)</span></a></li>
            <li ng-class="{true: 'active', false: 'inactive'}[menuManage]"><a href="/cmo/manage">Manage</a></li>
            <li ng-class="{true: 'active', false: 'inactive'}[menuCatalog]"><a href="/cmo/catalog">Catalog</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>