<div class="container-fluid">
    <div class="row" ng-show="cartResponse != undefined">
        <div class="col-sm-12">
            <div class="alert alert-success alert-dismissible fade in" ng-show="cartResponse" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><i class="fa fa-check"></i><span>The service was successfully added to the cart.</span>
            </div>

            <div class="alert alert-danger alert-dismissible fade in" ng-show="!cartResponse" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button><i class="fa fa-check"></i><span>There is a problem on our end.</span>
            </div>
        </div>
    </div>
<!--
    <div class="row scorecard">
        <div class="col-sm-12">
            <div class="text-right">
                <div>Reward Points</div>
                <h1>10,456</h1>
                <div>Ranked <strong>5</strong> of 3,245</div>
            </div>
        </div>
    </div>
-->
    
    <!-- search field -->
    
    <div class="row">
        <div class="col-sm-12">
            <div ng-include="'templates/search.html'"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 phone-disabled">
                <div ng-include="'templates/filters.html'"></div>
            </div>

            <div class="col-md-9">
                <div class="row phone-disabled">
                    <div class="col-sm-1">
                        <a href="#store/compare">Compare</a>
                    </div>
                    <div class="col-sm-11">
                        <div class="compare" ng-repeat="item in compare"><img class="compare-item" ng-src="{{ item.thumbnail }}"></div>-
                    </div>
                </div>

                <div class="row phone-disabled">
                    <div class="col-sm-12">
                        <button ng-click="switchView('grid')" type="button" class="btn btn-default" aria-label="Left Align">
                          <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
                        </button>

                        <button ng-click="switchView('list')" type="button" class="btn btn-default" aria-label="Left Align">
                          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
                

                <!-- list of all products -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="product" ng-class="{grid: selectedView == 'grid'}" ng-repeat="product in products | filter:searchText" id="{{ product.id }}">
                            <div class="list-image">
                                <div class="col-xs-6 image text-left"><a href="#store/details"><img ng-model="checkbox" ng-src="{{ product.thumbnail }}"></a></div>
                                <div class="col-xs-6 text-right">
                                    <div>starting at</div>
                                    <div class="list-item-sub">{{ product.price | currency }}</div><!-- product price -->
                                    <div><a href="#/store/configure" class="btn btn-primary" ng-click="configure(product)">Configure</a></div><!-- product price -->
                                </div>
                            </div>
                            <div class="list-text">
                                <div class="list-item-sub"><a href="#store/details">{{ product.name }}</a></div><!-- product name -->
                                <div><strong>Type:</strong> {{ product.type }}</div><!-- reward points -->
                                <div><strong>Points:</strong> {{ product.points | number }}</div><!-- reward points -->
                                <div><a href="#store/details" >{{ product.shortDescription }}</a></div><!-- short description -->
                                <div class="checkbox phone-disabled">
                                    <label>
                                        <input type="checkbox" ng-model="checkbox" ng-change="setCompare(product, checkbox)">Compare
                                    </label>
                                </div><!-- compare-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>