<h1>Getting Started - Loading Services</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>Loading {{ services.length }} Services...</p>
<div ng-repeat="service in services">{{ service.name }}</div>
<p>Opportunity to discuss product while services load or we can send user back to admin screen where user should see new services being added</p>
<a href="#/" class="btn btn-primary btn-block">Done</a>
<a href="#/" class="btn btn-primary btn-block">Cancel Setup</a>