
    <div class="row">
        <div class="col-sm-12">
            <a href="#/catalog">back</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div><img src="http://res.cloudinary.com/gravitant/image/upload/v1413466761/providers/aws.jpg"></div>
            <div class="text-center"><h3>Amazon AWS RDS</h3></div>
            <div>Lorem ipsum dolor sit amet, sea id molestie eleifend moderatius, ubique mandamus nec ex. Pro error mentitum ad, pri sonet facilisis voluptatum in, pri voluptua partiendo intellegebat eu.</div>
        </div>
    </div>

    <div class="row summary-category">
        <div class="col-sm-12">
            <div class="col-sm-12"><h2>category</h2></div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
        </div>
    </div>

    <div class="row summary-category">
        <div class="col-sm-12">
            <div class="col-sm-12"><h2>category</h2></div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
        </div>
    </div>

    <div class="row summary-category">
        <div class="col-sm-12">
            <div class="col-sm-12"><h2>category</h2></div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
            <div class="col-xs-12 list-item">
                <div class="col-xs-6">Name</div>
                <div class="col-xs-6">Value</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="#catalog/edit-product" class="btn btn-primary btn-block">Edit</a>
        </div>
    </div>