
    <div class="row">
        <div class="col-sm-12">
            <a href="#/catalog">back</a>
        </div>
    </div>
    item here {{ item }}
    <div class="row">
        <div class="col-sm-12">
            <form role="form">
              <div class="form-group">
                <label for="exampleInputEmail1">Provider</label>
                <select class="form-control" ng-model="formData.provider">
                  <option ng-repeat="provider in providers">{{ provider.name }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Cloud Instance</label>
                <select multiple class="form-control">
                  <option>Select Cloud Instance</option>
                  <option value="2" selected>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Offering Type</label>
                <select class="form-control">
                  <option>Offering Type</option>
                  <option>2</option>
                  <option value="3" selected>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Service Type</label>
                <select class="form-control">
                  <option>Service Type</option>
                  <option>2</option>
                  <option>3</option>
                  <option selected>4</option>
                  <option>5</option>
                </select>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Service ID</label>
                Service-Prefix <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter service ID">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Provisioning Metadata Helper Class</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter provisioning metadata helper class">
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Price</label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="{{ item.price }}">
              </div>

              <select multiple class="form-control">
                  <option>Select Service Category</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>

              <div class="form-group">
                <label for="exampleInputEmail1">Description</label>
                <textarea class="form-control" rows="5">{{ item.description }}</textarea>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Additional Information</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Enabled
                </label>
              </div>

              <div class="row">
                  <div class="col-sm-12">
                    <a href="#catalog" class="btn btn-primary btn-block">Save</a>
                    </div>
              </div>
            </form>
        </div>
    </div>