<!--
    Uses 'ManageController'
-->


<!--
    <div class="row">
        <div class="col-sm-12">
            <div ng-include="'../templates/search.html'"></div>
        </div>
    </div>
-->

        <div class="row">
            <div class="col-sm-12">
            
            <div role="tabpanel">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#resources" aria-controls="resources" role="tab" data-toggle="tab" onclick="return false;" ng-click="showDetails('resources')">Resources</a></li>
                    <li role="presentation"><a href="#applications" aria-controls="applications" role="tab" data-toggle="tab" onclick="return false;" ng-click="showDetails('applications')">Applications</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="resources">
                        
                        <div class="col-xs-12 outlier">
                            <div class="col-xs-6"><a href="#details" ng-click="showDetails('resources')">Computer</a></div>
                            <div class="col-xs-6 text-right">Data Point</div>
                        </div>

                        <div class="col-xs-12 outlier">
                            <div class="col-xs-6"><a href="#details">Memory</a></div>
                            <div class="col-xs-6 text-right">Data Point</div>
                        </div>

                        <div class="col-xs-12 outlier">
                            <div class="col-xs-6"><a href="#details">Network</a></div>
                            <div class="col-xs-6 text-right">Data Point</div>
                        </div>

                        <div class="col-xs-12 outlier">
                            <div class="col-xs-6"><a href="#details">Storage</a></div>
                            <div class="col-xs-6 text-right">Data Point</div>
                        </div>

                        <div class="col-xs-12 outlier">
                            <div class="col-xs-6"><a href="#details">Managed Services</a></div>
                            <div class="col-xs-6 text-right">Data Point</div>
                        </div>

                    </div><!--// .tabpanel -->
                    

                    <div role="tabpanel" class="tab-pane" id="applications">
                        
                        <div class="col-xs-12 outlier">
                                <div class="col-xs-6"><a href="#details">Application 1</a></div>
                                <div class="col-xs-6 text-right">Data Point</div>
                            </div>

                            <div class="col-xs-12 outlier">
                                <div class="col-xs-6"><a href="#details">Application 2</a></div>
                                <div class="col-xs-6 text-right">Data Point</div>
                            </div>

                            <div class="col-xs-12 outlier">
                                <div class="col-xs-6"><a href="#details">Application 3</a></div>
                                <div class="col-xs-6 text-right">Data Point</div>
                            </div>

                    </div><!--// .tabpanel -->
                </div><!--// .tab-content -->
            </div><!--// .tabpanel -->
                
                
            </div>
        </div>